<h1>GAChat</h1>
<p>Welcome to GAChat!</p>

  <form ng-submit="addlines($scope.chat)">  
    <label>Name</label>  
    <input type="text" ng-model="chat.username" required /><br>
    <label>Chat message</label>  
    <textarea ng-model="chat.line"></textarea><br>  
    <button>Submit</button>  
  </form>

{{ chat }}
<div ng-repeat="chat in chatlines">
    {{ chat.username  }}  :  {{chat.line}}

</div>

    <!-- Hackathon app -->

