<div class="index-div">
  <h1>Editing user</h1>
  <div class="devise-edit-page">
    <%= render 'form' %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
<br />
<br />
<br />