<div class="index-div">
  <h1>Group Chat</h1>

  <div class="chat-selection">
    <ul id="todo-list"></ul>
  </div>
  <div id="chat-input">
    <input id="new-todo-chat" placeholder="Add chat line here..." type="text">
    <input type="hidden" id="username" value="<%= current_user.name %>">
    <input type="hidden" id="c_timestamp" value="<%= Chat.last.created_at %>" />
  </div>
</div>
<br />
<br />
<br />
<br />