<div class="index-div">

  <h1>Chat output</h1>
  <div class="chat-selection">
    <ul>
    <% @chats.each do |chat| %>
        <li class="chat-addition">user<%= chat.username %>:<%= chat.chat_message %></li>
      </ul>
    <% end %>
  </div>
  <div id="chat-input">
    <%= render 'form' %>
    <br />
  </div>

</div>
<br />
<br />
<br />
<br />