// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #d9e7f4;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

/* Login page */
#login {
  width: 1010px;
  background-color: #7FFFD4;
  margin: auto;
}

/* Main page pre div */
#login-logoff-and-dropdown {
  width: 1010px;
  height: 70px;
  margin: auto;
}

#user-status {
  width: 505px;
  float: left
}

.btn-group {
  float: right;
  margin-top: 36px;
}

/* Main page first div */
#user-page-main-container {
  width: 1010px;
  height: 450px;
  background-color: brown;
  margin: auto;
}

#main-profile-pic {
  width: 250px;
  height: 250px;
  background: black;
}

#left1 {
  float: left;
}

#middle1 {
  width: 360px;
}

#right1 {
  float: right;
  width: 360px;
}

/* Main page 2nd div */
#user-upcoming-events {
  width: 1010px;
  height: 450px;
  background-color: #330099;
  margin: auto;
}

.weather-api {
  width: 250px;
  float: left;
  background-color: green;
}

#id {
  float: left;
}

#upcoming-eventsx2 {
  width: 650px;
  float: right;
  color: white;
}

/* Events index page */
.events-map-container {
  width: 1010px;
  min-height: 300px;
  margin: auto;
}

/* Event show page */
#event-update-div {
  width: 1010px;
  margin: auto;
  background-color: #F5F5DC;
}

#event-map-left {
  float: left;
}

#event-map-right {
  float: right;
  width: 600px;
}

#events-weather-api {
  width: 505px;
  float: left;
  background-color: orange;
}

#event-text-messaging-area {
  width: 505px;
  float: left;
  background-color: orange;
}

.index-div {
  width: 1010px;
  margin: auto;
}

#event-goers {
  width: 1010px;
  margin: auto;
}

.event-goer {
  height: 120px;
  width: 335px;
  float: left;
  background-color: white;  
  font-size: 18px;
  padding: 15px;
}

/* Group page, hopefully waypoint only. */
.group-header {
  width: 1010px;
  margin: auto;
}

.group-group {
  width: 1010px;
  margin: auto;
}

.group-div {
  clear: both;
}

/* .event-goer added to each user */ 